{% extends "base.html" %}
{% load static %}

{% block css %}
	{% static "todolist/css/guide.css" %}
{% endblock %}

{% block title %}
    Справочник
{% endblock %}

{% block content %}
    <div id="links">
        <div>
            <h4>Добавить:</h4>
            <ul>
                <li><a href="{% url 'add_plant' %}">Добавить растение</a></li>
                <li><a href="{% url 'add_location' %}">Добавить расположение</a></li>
                <li><a href="{% url 'add_stage' %}">Добавить стадию роста</a></li>
                <li><a href="{% url 'add_action' %}">Добавить действие</a></li>
                <li><a href="{% url 'add_planting' %}">Добавить посадку</a></li>
            </ul>
        </div>

        <div>
            <h4>Посмотреть:</h4>
            <ul>
                <li><a href="{% url 'plants_list' %}">Посмотреть растения</a></li>
                <li><a href="{% url 'locations_list' %}">Посмотреть расположения</a></li>
                <li><a href="{% url 'stages_list' %}">Посмотреть стади роста</a></li>
                <li><a href="{% url 'actions_list' %}">Посмотреть действия</a></li>
                <li><a href="{% url 'plantings_list' %}">Посмотреть посадки</a></li>
                <li><a href="{% url 'tasks_list' %}">Посмотреть задачи</a></li>
            </ul>
        </div>
    </div>
{% endblock %}