{% extends "base.html" %}
{% load static %}

{% block css %}
    {% static "todolist/css/missed_tasks.css" %}
{% endblock %}

{% block js %}
	{% static "todolist/js/missed_tasks.js" %}
{% endblock %}

{% block title %}
    Пропущенные задачи:
{% endblock %}

{% block content %}
    <div id="tasks-container" data-mark-done-url="{% url 'mark_task_done' id=0 %}">
        {% if not tasks %}
            <p>Пропущенных задач нет.</p>
        {% else %}
            {% for task in tasks %}
                <div class="task-row"
                     id="task-row-{{ task.task_id }}"
                >
                    <input type="checkbox"
                           class="task-checkbox"
                           data-task-id="{{ task.task_id }}"
                    >
                    <label>{{ task.show_as_missed }}</label>
                    <a href="{% url 'task' id=task.task_id %}">Подробнее</a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}