<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gidropon</title>
</head>
<body>
    <h3>{{ action.title }}</h3>

    <p>Получено (дата): {{ task.date|date:"j.m.Y" }}</p>

    <p>Статус: {{ task.get_status_display }}</p>

    <p>Инструкция:</p>
    <p>{{ action.instruction }}</p>

    <p>Растение: {{ planting.plant.title }}
        <a href="{% url 'plant_detail' plant_id=planting.plant.plant_id %}">Подробнее</a></p>

    {% if planting.location %}
        <p>Расположение: {{ planting.location.code }}
            <a href="{% url 'location_detail' location_id=planting.location_id %}">Подробнее</a>
        </p>
    {% endif %}

    {% with patr=task.executor.patronymic %}
    {% if task.eliminated_datetime and task.executor %}
        <p>Выполнил: {{ task.executor.surname }} {{ task.executor.name }}{% if patr %} {{ patr }}{% endif %}</p>
        <p>Дата и время выполнения: {{ task.eliminated_datetime|date:"H:i j.m.Y" }}</p>
    {% endif %}
    {% endwith %}

    <a href="{% url 'todolist' %}">Перейти к списку задач</a>
{#    <a href="{% url 'guide' %}">Перейти к справочнику</a>#}
</body>
</html>