{% extends "base.html" %}
{% load static %}

{% block css %}
	{% static "todolist/css/todolist.css" %}
{% endblock %}

{% block js %}
    {% static "todolist/js/todolist.js" %}
{% endblock %}

{% block title %}
    Список задач на день
{% endblock %}

{% block content %}
    <form method="get">
        <label for="date">Выберите дату: </label>
        <input type="date" id="date" name="date" value="{{ target_date|date:'Y-m-d' }}">
        <input type="submit" value="Показать">
    </form>

    <div id="list-checkboxes">
        <div id="awaits-tasks-container" data-mark-done-url="{% url 'mark_task_done' id=0 %}">
            <h4>Актуальные задачи:</h4>

            {% if not await_tasks %}
                <p>На выбранную дату задач нет.</p>
            {% else %}
                {% for task in await_tasks %}
                    <div class="task-row" id="task-row-{{ task.task_id }}">
                        <input type="checkbox"
                               class="task-checkbox"
                               id="check-{{ task.task_id }}"
                               data-task-id="{{ task.task_id }}">
                        <label for="check-{{ task.task_id }}">{{ task }}</label>
                        <a href="{% url 'task' id=task.task_id %}">Подробнее</a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <div id="done-tasks-container">
            <h4>Выполненные задачи:</h4>

            {% if not done_tasks %}
                <p>Пока ни одна задача не выполнена.</p>
            {% else %}
                <ol id="dones-list">
                    {% for task in done_tasks %}
                        <li>
                            <label>{{ task }} </label>
                            <a href="{% url 'task' id=task.task_id %}">Подробнее</a>
                        </li>
                    {% endfor %}
                </ol>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block footer %}
    <br>
    <br>
    <hr>
    <a href="{% url 'missed_tasks' %}">Перейти к пропущенным задачам</a><br>
    <a href="{% url 'guide' %}">Перейти к справочнику</a>
{% endblock %}