{% extends "base.html" %}

{% block title %}
    Авария: {{ dfs.datetime|date:"H:i:s d.m.Y" }}
{% endblock %}

{% block content %}
    <p>Статус: {{ accident.get_status_display }}</p>

    <p style="font-weight: 900">Данные с датчиков</p>
    {{ dfs.html_data|safe }}

    <p style="font-weight: 900">Предлагаемое решение:</p>
    {{ solution_html|safe }}

    {% if user %}
    	<p>Устранил пользователь: {{ user.surname }} {{ user.name }}{% if user.patronymic %} {{ user.patronymic }}{% endif %} (<a
                href="{% url 'user' id=user.id %}">Подробнее</a>)</p>
        <p>Дата и время устранения: {{ accident.eliminated_datetime|date:"H:i:s d.m.Y" }}</p>
        <p>Комментарий по устранению:</p>
        <p>{{ solution.comment }}</p>
    {% endif %}
{% endblock %}