{% extends "base.html" %}

{% block title %}
    Показания датчиков: {{ dfs.datetime|date:"H:i:s d.m.Y" }}
{% endblock %}

{% block content %}
    <table>
        <thead style="font-weight: 900;">
            <tr>
                <td>Параметр</td>
                <td>Значение</td>
                <td>Датчик</td>
                <td>Нормальные значения</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Влажность воздуха</td>
                <td>{{ dfs.humidity }}</td>
                <td><a href="{% url 'sensor' id=1 %}">Перейти</a></td>
                <td><a href="{% url 'normal_values' id=1 %}">Перейти</a></td>
            </tr>
            <tr>
                <td>Температура воздуха</td>
                <td>{{ dfs.air_temp }}</td>
                <td><a href="{% url 'sensor' id=2 %}">Перейти</a></td>
                <td><a href="{% url 'normal_values' id=2 %}">Перейти</a></td>
            </tr>
            <tr>
                <td>Температура раствора</td>
                <td>{{ dfs.sol_temp }}</td>
                <td><a href="{% url 'sensor' id=3 %}">Перейти</a></td>
                <td><a href="{% url 'normal_values' id=3 %}">Перейти</a></td>
            </tr>
            <tr>
                <td>Уровень воды в баке</td>
                <td>{{ dfs.water_level }}</td>
                <td><a href="{% url 'sensor' id=4 %}">Перейти</a></td>
                <td><a href="{% url 'normal_values' id=4 %}">Перейти</a></td>
            </tr>
            <tr>
                <td>EC</td>
                <td>{{ dfs.ec }}</td>
                <td><a href="{% url 'sensor' id=5 %}">Перейти</a></td>
                <td><a href="{% url 'normal_values' id=5 %}">Перейти</a></td>
            </tr>
            <tr>
                <td>Lux</td>
                <td>{{ dfs.lux }}</td>
                <td><a href="{% url 'sensor' id=6 %}">Перейти</a></td>
                <td><a href="{% url 'normal_values' id=6 %}">Перейти</a></td>
            </tr>
            <tr>
                <td>pH</td>
                <td>{{ dfs.ph }}</td>
                <td><a href="{% url 'sensor' id=7 %}">Перейти</a></td>
                <td><a href="{% url 'normal_values' id=7 %}">Перейти</a></td>
            </tr>
        </tbody>
    </table>

    {% if accident %}
        <p>На эти показания датчиков зарегистрирована авария: <a href="{% url 'accident' id=accident.accident_id %}">Подробнее</a></p>
    {% endif %}
{% endblock %}