{% extends "base.html" %}

{% block title %}
    Нормальные значения для: {{ sensor.parameter }}
{% endblock %}

{% block content %}
    <p>Датчик для измерения: {{ sensor.title }}
        <a href="{% url 'sensor' id=sensor.sensor_id %}">Подробнее</a>
    </p>

    <p>Значения:</p>
    <ol>
        <li>Оптимальное: {{ normals.optimum }}</li>
        <li>Минимально допустимое: {{ normals.minimum }}</li>
        <li>Максимально допустимое: {{ normals.maximum }}</li>
        <li>Критический минимум: {{ normals.critical_minimum }}</li>
        <li>Критический максимум: {{ normals.critical_maximum }}</li>
    </ol>
{% endblock %}