<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gidropon</title>
</head>
<body>
    <div class="paginator">
        <h2 class="text-center">Все посадки (всего: {{ count }}):</h2>
        <hr>

        <table class="list-group list-group-flush">
            <thead style="font-weight: 900;">
                <tr>
                    <td>ID</td>
                    <td>Растение</td>
                    <td>Дата и время</td>
                    <td>Расположение</td>
                    <td>Статус</td>
                    <td>Подробности</td>
                </tr>
            </thead>
            <tbody>
                {% for planting in page_obj %}
                    <tr class="list-group-item">
                        <td>{{ planting.planting_id }}</td>
                        <td>{{ planting.plant.title }}</td>
                        <td>{{ planting.datetime|date:"H:i:s d.m.Y" }}</td>
                        <td>{{ planting.location.code }}</td>
                        <td>{{ planting.get_status_display }}</td>
                        <td><a href="{% url 'planting' id=planting.planting_id %}">Подробнее</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <br>
        <hr>

        {% include "pagination.html" %}
    </div>

    <br>
    <a href="{% url 'add_planting' %}">Добавить новую посадку</a><br>

    {% include "todolist/general/links.html" %}
</body>
</html>