{% extends "base.html" %}

{% block title %}
    Все нормальые значения (всего: 7):
{% endblock %}

{% block content %}
    <div class="paginator">
        <hr>

        <table class="list-group list-group-flush">
            <thead style="font-weight: 900;">
                <tr>
                    <td rowspan="2">ID</td>
                    <td rowspan="2">Параметр</td>
                    <td colspan="5">Значение</td>
                    <td rowspan="2">Подробности</td>
                </tr>
                <tr>
                    <td>Оптимальное</td>
                    <td>Минимальное</td>
                    <td>Максимальное</td>
                    <td>Критически минимальное</td>
                    <td>Критически максимальное</td>
                </tr>
            </thead>
            <tbody>
                {% for normals in page_obj %}
                    <tr class="list-group-item">
                        <td>{{ normals.values_id }}</td>
                        <td>{{ normals.sensor.parameter }}</td>
                        <td>{{ normals.optimum }}</td>
                        <td>{{ normals.minimum }}</td>
                        <td>{{ normals.maximum }}</td>
                        <td>{{ normals.critical_minimum }}</td>
                        <td>{{ normals.critical_maximum }}</td>
                        <td><a href="{% url 'normal_values' id=normals.values_id %}">Подробнее</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <br>
        <hr>

        {% include "pagination.html" %}
    </div>
{% endblock %}