{% extends "base.html" %}

{% block title %}
    Все действия (всего: {{ count }}):
{% endblock %}

{% block content %}
        <div class="paginator">
        <hr>

        <table class="list-group list-group-flush">
            <thead style="font-weight: 900;">
                <tr>
                    <td>ID</td>
                    <td>Название</td>
                    <td>Стадия роста</td>
                    <td>Тип периодичности</td>
                    <td>Интервал</td>
                    <td>Инструкция</td>
                    <td>Подробности</td>
                </tr>
            </thead>
            <tbody>
                {% for action in page_obj %}
                    <tr class="list-group-item">
                        <td>{{ action.action_id }}</td>
                        <td>{{ action.title }}</td>
                        <td>{{ action.stage.title }}</td>
                        <td>{{ action.get_periodicity_display }}</td>
                        {% with action.periodicity as per %}
                            {% if per == "every_n_day" %}
                                <td>{{ action.interval }}</td>
                            {% else %}
                                <td>-</td>
                            {% endif %}
                        {% endwith %}
                        <td>{{ action.get_instr_short }}</td>
                        <td><a href="{% url 'action' id=action.action_id %}">Подробнее</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <br>
        <hr>

        {% include "pagination.html" %}
    </div>
{% endblock %}