{% extends "base.html" %}

{% block title %}
    Все растения (всего: {{ count }}):
{% endblock %}

{% block content %}
    <div class="paginator">
        <hr>

        <table class="list-group list-group-flush">
            <thead style="font-weight: 900;">
                <tr>
                    <td>ID</td>
                    <td>Название</td>
                    <td>Описание</td>
                    <td>Подробности</td>
                </tr>
            </thead>
            <tbody>
                {% for plant in page_obj %}
                    <tr class="list-group-item">
                        <td>{{ plant.plant_id }}</td>
                        <td>{{ plant.title }}</td>
                        <td>{{ plant.get_descr_short }}</td>
                        <td><a href="{% url 'plant' id=plant.plant_id %}">Подробнее</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <br>
        <hr>

        {% include "pagination.html" %}
    </div>

    <br>
    <a href="{% url 'add_plant' %}">Добавить новое растение</a><br>
{% endblock %}