{% extends "base.html" %}

{% block title %}
    Все стадии роста (всего: {{ count }}):
{% endblock %}

{% block content %}
    <div class="paginator">
        <hr>

        <table class="list-group list-group-flush">
            <thead style="font-weight: 900;">
                <tr>
                    <td rowspan="2">ID</td>
                    <td rowspan="2">Название</td>
                    <td rowspan="2">Растение</td>
                    <td rowspan="2">Длительность (в днях)</td>
                    <td colspan="3">Место в общем цикле роста</td>
                    <td rowspan="2">Подробности</td>
                </tr>
                <tr>
                    <td>Порядок</td>
                    <td>Начальный день</td>
                    <td>Конечный день</td>
                </tr>
            </thead>
            <tbody>
                {% for stage in page_obj %}
                    <tr class="list-group-item">
                        <td>{{ stage.stage_id }}</td>
                        <td>{{ stage.title }}</td>
                        <td>{{ stage.plant.title }}</td>
                        <td>{{ stage.duration }}</td>
                        <td>{{ stage.order }}</td>
                        <td>{{ stage.start_day }}</td>
                        <td>{{ stage.finish_day }}</td>
                        <td><a href="{% url 'stage' id=stage.stage_id %}">Подробнее</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <br>
        <hr>

        {% include "pagination.html" %}
    </div>

    <br>
    <a href="{% url 'add_stage' %}">Добавить новую стадию роста</a><br>
{% endblock %}