{% extends "base.html" %}

{% block title %}
    Все задачи (всего: {{ count }}):
{% endblock %}

{% block content %}
    <div class="paginator">
        <hr>

        <table class="list-group list-group-flush">
            <thead style="font-weight: 900;">
                <tr>
                    <td>ID</td>
                    <td>Задача</td>
                    <td>Расположение</td>
                    <td>Дата</td>
                    <td>Статус</td>
                    <td>Подробности</td>
                </tr>
            </thead>
            <tbody>
                {% for task in page_obj %}
                    <tr class="list-group-item">
                        <td>{{ task.task_id }}</td>
                        <td>{{ task.action.title }}</td>
                        {% if task.planting.location %}
                            <td>{{ task.planting.location.code }}</td>
                        {% else %}
                            <td>-</td>
                        {% endif %}
                        <td>{{ task.date|date:"d.m.Y" }}</td>
                        <td>{{ task.get_status_display }}</td>
                        <td><a href="{% url 'task' id=task.task_id %}">Подробнее</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <hr>
        {% include "pagination.html" %}
    </div>
{% endblock %}