{% extends "base.html" %}

{% block title %}
    {{ user.surname }} {{ user.name }} {{ user.patronymic }}
{% endblock %}

{% block content %}
    <p>Логин: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Телефон: {{ user.phone }}</p>
    <p>Должность: {{ user.post }}</p>

    <br>
    {% if user.is_active %}
        <p>Статус: Онлайн</p>
    {% else %}
        <p>Статус: Оффлайн</p>
    {% endif %}
    {% if user.last_login %}
        <p>Последний раз был онлайн: {{ user.last_login|date:"H:i:s d.m.Y" }}</p>
    {% else %}
        <p>Последний раз был онлайн: никогда</p>
    {% endif %}
    <p>Дата регистрации: {{ user.date_joined|date:"H:i:s d.m.Y" }}</p>
{% endblock %}