{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% csrf_token %}
    <meta name="csrf-token" content="{{ csrf_token }}">
    <meta charset="UTF-8">
    <title>Gidropon</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% block css %}{% endblock %}">
    <script src="{% block js %}{% endblock %}" defer></script>
</head>
<body>
    {% block header %}

    {% endblock %}

    <h2>
        {% block title %}
    	    Забыл навазние поставить(
        {% endblock %}
    </h2>
    
    {% block content %}
    	<p>В процессе разработки...</p>
    {% endblock %}

    {% block footer %}
        <br>
        <br>
        <hr>
        <a href="{% url 'todolist' %}">Перейти к списку задач</a><br>
        <a href="{% url 'guide' %}">Перейти к справочнику</a><br>

{#    	<p style="text-align: right">made by dunckman</p>#}
    {% endblock %}

    {% block script %}

    {% endblock %}
</body>
</html>