<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gidropon</title>
</head>
<body>
    <h2>{{ action.title }}</h2>

    <p>Соответсвует растению: {{ stage.plant.title }}
        <a href="{% url 'plant' id=stage.plant.plant_id %}">Подробнее</a></p>
    <p> Соответствует стадии: {{ stage.title }}
        <a href="{% url 'stage' id=stage.stage_id %}">Подробнее</a></p>

    <p>Инструкция:</p>
    <p>{{ action.instruction }}</p>
    <p>Периодичность: {{ action.get_periodicity_display }}</p>
    {% if action.periodicity == 'every_n_day' %}
        <p>Интервал (в днях): {{ action.interval }}</p>
    {% endif %}

    <p>Все задачи с этим действием:</p>
    <ol>
        {% for task in tasks %}
            <li>{{ task.show_for_action }}
                <a href="{% url 'task' id=task.task_id %}">Подробнее</a></li>
        {% endfor %}
    </ol>

    <br>
    <a href="{% url 'edit_action' id=action.action_id %}">Изменить данные о действии</a>

    {% include "todolist/general/links.html" %}
</body>
</html>