{% extends "base.html" %}

{% block title %}
    {{ action.title }}
{% endblock %}

{% block content %}
    <p>Соответсвует растению: <a href="{% url 'plant' id=stage.plant.plant_id %}">{{ stage.plant.title }}</a></p>
    <p> Соответствует стадии: <a href="{% url 'stage' id=stage.stage_id %}">{{ stage.title }}</a></p>

    <p>Инструкция:</p>
    <p>{{ action.instruction }}</p>
    <p>Периодичность: {{ action.get_periodicity_display }}</p>
    {% if action.periodicity == 'every_n_day' %}
        <p>Интервал (в днях): {{ action.interval }}</p>
    {% endif %}

    <p>Все задачи с этим действием:</p>
    <ol>
        {% for task in tasks %}
            <li><a href="{% url 'task' id=task.task_id %}">{{ task.date|date:"d.m.Y" }}</a> – {{ task.get_status_display }}</li>
        {% endfor %}
    </ol>

    <br>
    <a href="{% url 'edit_action' id=action.action_id %}">Изменить данные о действии</a>
{% endblock %}