<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gidropon</title>
</head>
<body>
    <h2>Код расположения: {{ location.code }}</h2>

    <p>Подробное описание расположения:</p>
    <p>{{ location.description }}</p>

    <p>Все посадки на этом расположении:</p>
    <ol>
        {% for planting in plantings %}
            <li>{{ planting.show_for_others }}
                <a href="{% url 'planting' id=planting.planting_id %}">Подробнее</a></li>
        {% endfor %}
    </ol>

    <br>
    <a href="{% url 'edit_location' id=location.location_id %}">Изменить данные о расположении</a>

    {% include "todolist/general/links.html" %}
</body>
</html>