{% extends "base.html" %}
{% load static %}

{% block js %}
    <script src="{% static "todolist/js/delete_all.js" %}" defer></script>
{% endblock %}

{% block title %}
    <div class="d-flex justify-content-between align-items-center flex-wrap gap-2">
        <span>{{ location.code }}</span>
        <a class="btn btn-success" href="{% url 'edit_location' id=location.location_id %}">Изменить данные</a>
    </div>
{% endblock %}

{% block content %}
    <div class="card shadow-sm mb-4">
        <div class="card-header bg-light fw-semibold">Подробное описание</div>
        <div class="card-body">
            {% if location.description %}
                <p class="mb-1">{{ location.description }}</p>
            {% else %}
                <td class="text-muted mb-0">Описание не указано.</td>
            {% endif %}
        </div>
    </div>

    <div class="card shadow-sm mb-4">
        <div class="card-header bg-light fw-semibold">Все посадки</div>
        <div class="card-body">
            {% if plantings %}
            	<ol class="list-group list-group-numbered">
                    {% for planting in plantings %}
                        <li class="list-group-item">
                            <a class="link-accent" href="{% url 'plant' id=planting.plant.plant_id %}">{{ planting.plant.title }}</a>
                            (<a class="link-accent" href="{% url 'planting' id=planting.planting_id %}">{{ planting.datetime|date:"H:i:s d.m.Y" }}</a>)
                            – {{ planting.get_status_display }}
                        </li>
                    {% endfor %}
                </ol>
            {% else %}
                <td class="text-muted mb-0">Пока ни одной посадки не было.</td>
            {% endif %}

        </div>
    </div>

    <button style="font-size: 17px;"
            type="button"
            class="btn btn-danger btn-sm delete-object"
            data-object="расположение"
            data-url="{% url 'delete_location' id=location.location_id %}">Удалить расположение</button>
{% endblock %}