{% extends "base.html" %}

{% block title %}
    Код расположения: {{ location.code }}
{% endblock %}

{% block content %}
    <p>Подробное описание расположения:</p>
    <p>{{ location.description }}</p>

    <p>Все посадки на этом расположении:</p>
    <ol>
        {% for planting in plantings %}
            <li>{{ planting.show_for_others }}
                <a href="{% url 'planting' id=planting.planting_id %}">Подробнее</a></li>
        {% endfor %}
    </ol>

    <br>
    <a href="{% url 'edit_location' id=location.location_id %}">Изменить данные о расположении</a>
{% endblock %}