<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gidropon</title>
</head>
<body>
    <h2>{{ plant.title }}</h2>

    <p>Описание:</p>
    <p>{{ plant.description }}</p>

    <p>Стадии роста для этого растения:</p>
    <ol>
        {% for stage in stages %}
            <li>{{ stage.show_for_plant }}
                <a href="{% url 'stage' id=stage.stage_id %}">Подробнее</a></li>
        {% endfor %}
    </ol>

    <p>Все посадки этого растения:</p>
    <ol>
        {% for planting in plantings %}
            <li>{{ planting.show_for_plant }}
                <a href="{% url 'planting' id=planting.planting_id %}">Подробнее</a></li>
        {% endfor %}
    </ol>

    <br>
    <a href="{% url 'edit_plant' id=plant.plant_id %}">Изменить данные о растении</a>

    {% include "todolist/general/links.html" %}
</body>
</html>