{% extends "base.html" %}
{% load static %}

{% block js %}
    <script src="{% static "todolist/js/mark_dead.js" %}"></script>
{% endblock %}

{% block title %}
    <div class="d-flex justify-content-between align-items-center flex-wrap gap-2">
        <span>{{ planting.plant.title }}</span>
    </div>
{% endblock %}

{% block content %}
    <div class="card shadow-sm mb-4">
        <div class="card-body">
            <p class="fw-semibold mb-1">Растение: <a class="link-accent" href="{% url 'plant' id=plant.plant_id %}">{{ plant.title }}</a></p>

            <p class="mb-1"><span class="fw-semibold">Статус:</span> {{ planting.get_status_display }}</p>

            {% if location %}
                <p class="fw-semibold mb-1">Расположение: <a class="link-accent" href="{% url 'location' id=planting.location_id %}">{{ planting.location.code }}</a></p>
            {% else %}
                <p class="text-muted mb-0">Данных о расположении нет.</p>
            {% endif %}
        </div>
    </div>
    {% if can_mark_dead %}
    	<button style="font-size: 17px;"
            type="submit"
            class="btn btn-danger btn-sm mark-dead"
            data-url="{% url 'planting_dead' id=planting.planting_id %}">Прекратить отслеживание (например, растение погибло)</button>
    {% endif %}
{% endblock %}