{% extends "base.html" %}

{% block title %}
    {{ plant.title }}
{% endblock %}

{% block content %}
    <p>Описание:</p>
    <p>{{ plant.description }}</p>

    <p>Стадии роста для этого растения:</p>
    <ol>
        {% for stage in stages %}
            <li><a href="{% url 'stage' id=stage.stage_id %}">{{ stage.title }}</a> {{ stage.show_for_plant }}</li>
        {% endfor %}
    </ol>

    <p>Все посадки этого растения:</p>
    <ol>
        {% for planting in plantings %}
            <li><a href="{% url 'planting' id=planting.planting_id %}">{{ planting.datetime|date:"H:i:s d.m.Y" }}</a>
                – {{ planting.get_status_display }}</li>
        {% endfor %}
    </ol>

    <br>
    <a href="{% url 'edit_plant' id=plant.plant_id %}">Изменить данные о растении</a>
{% endblock %}