{% extends "base.html" %}

{% block title %}
    {{ stage.title }}
{% endblock %}

{% block content %}
    <p> Соответствует растению: {{ plant.title }}
        <a href="{% url 'plant' id=plant.plant_id %}">Подробнее</a></p>

    <p>Продолжительность (в днях): {{ stage.duration }}</p>

    <p>Место в общем цикле роста растения:</p>
    <ul>
        <li>Порядок: {{ stage.order }}</li>
        <li>Начальный день: {{ stage.start_day }}</li>
        <li>Конечный день: {{ stage.finish_day }}</li>
    </ul>

    <p>Действия для этой стадии:</p>
    <ol>
        {% for action in actions %}
            <li>{{ action.show_for_stage }}
                <a href="{% url 'action' id=action.action_id %}">Подробнее</a></li>
        {% endfor %}
    </ol>

    <br>
    <a href="{% url 'edit_stage' id=stage.stage_id %}">Изменить данные о стадии роста</a>
{% endblock %}